*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('font/TTLakes/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('font/TTLakes/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('font/TTLakes/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'TT Lakes Regular', 'Arial', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
    letter-spacing: 0.2px;
}

.button {
    border: none;
    background: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;

    cursor: pointer;

}

.brand {
    min-width: 320px;
    background-color: #EAEAEA;

    padding-bottom: 38px;
}


.brant__title {
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    margin-bottom: 16px;
    border-top: 1px solid #D9FFF5;
}

.brant__title h2 {
    font-size: 16px;
    line-height: 24px;
    vertical-align: center;
    text-transform: uppercase;

    color: #7E7E82;

    padding: 16px;
}


.brand__list {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    margin-bottom: 40px;

    width: auto;
    height: auto;
}

.brand__item{
    list-style: none;

    background-color: #FFFFFF;

    border: 1px solid #EAEAEA;
    border-radius: 6px;

    flex-shrink: 1;

}

.brand__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    width: 240px;
    height: 72px;
}

.brand__item-wrapper .button {
    background-color: #FFFFFF;
    border: 2px solid #FF3E79;
    display: flex;
}

.brand__item-wrapper .button:hover {
    background-color: #FF3E79;
}

.brand__item-wrapper .button:hover svg path {
    fill: #FFFFFF;
}

:root {
    --swiper-theme-color: #979797;
}


.brand__item-wrapper .button {
    justify-content: center;
    align-items: center;
}


.button__hidden {
    display: none;
}

@media (min-width: 768px) {
    .brant__title {
        margin-bottom: 24px;
    }

    .brant__title h2 {
    padding-left: 24px;
    }

    .brand__list {
        flex-wrap: wrap;
        gap: 16px 24px;
        margin-bottom: 24px;

        height: 170px;
        overflow: hidden;
    }

    .brand__list-height {
        height: auto;
    }

    .brand__list .brand__item {
        width: auto;
        height: auto;

    }

    .brand__item-wrapper {
        width: 224px;
        height: 72px;
    }


    .button__hidden {
        display: flex;
        padding-left: 24px;
        align-items: center;
    }

    .button__rotate svg {
        transform: rotate(180deg);
    }

    .button__toggle {
        border: 1px solid #eaeaea;

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        letter-spacing: -0.2px;

        color: #1B1C21;

        margin-left: 9px;
        background-color: transparent;

        cursor: pointer;
    }
    .button__toggle:hover {
        border-bottom: 1px solid #41F6D7;
    }

}



