.device {
    .section__slider {
       .section__list {
          .device__item {
              width: 240px;
              height: 160px;
              position: relative;

              .device__item-wrapper {

                  .button {
                      position: absolute;
                      right: 16px;
                      bottom: 16px;
                  }
              }
          }
       }
    }
}