.price {
    .section__slider {
        .section__list {
            .price__item {
                width: 260px;
                height: 200px;
                margin-right: 16px;

                .price__item-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    width: auto;
                    height: auto;

                    .price__item-container {
                        width: 228px;
                        margin-bottom: 16px;
                        .price__title {
                            font-size: 14px;
                            line-height: 16px;

                            color: #7E7E82;

                            margin: 0;
                            margin-bottom: 4px;
                        }
                        .price__text {
                            font-size: 14px;
                            line-height: 18px;
                            letter-spacing: 0.2px;

                            color: #1B1C21;
                            margin: 0;
                        }
                    }
                    .price__item__bottom {
                        display: flex;
                        margin-bottom: 0;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .price__info {
        max-width: 290px;
        padding: 0 16px;

        p {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;

            color: #1B1C21;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
        }
        .price__info__button {
            max-width: 192px;
            text-decoration: none;
            span {
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.2px;

                color: #1B1C21;

                margin-right: 8px;

            }
            &:hover span {
                text-decoration: underline #e71054;
            }
            &:hover svg path {
                fill: #e71054;
            }
        }

    }
    .price__table {
        display: none;

        padding: 24px;


        .price__table-wrapper {

        table {
            width: 100%;
            border-collapse: collapse;
            tbody {
                background-color: #FFFFFF;
                tr:first-child td:first-child {
                    border-top-left-radius: 5px;
                }
                tr:first-child td:last-child {
                    border-top-right-radius: 5px;
                }
                tr:last-child td:first-child {
                    border-bottom-left-radius: 5px;
                }
                tr:last-child td:last-child {
                    border-bottom-right-radius: 5px;
                }
            }
            tr:not(:last-child) td {
                border-bottom: 2px solid #EAEAEA;
            }

            th {
                background-color: #F8F8F8;

                font-size: 14px;
                line-height: 16px;

                color: #b0b0b3;
                padding-bottom: 16px;
                padding-left: 16px;
                text-align: left;
            }

            td {
                padding: 16px;
                .price__table__button {
                    display: inline-block;
                    white-space: nowrap;
                }
            }
            .td__button {
                max-width: 140px;
                text-align: right;
            }
        }
        }
    }
}

@media (min-width: 768px) {
    .price {
        .price__slider {
            display: none;
        }
        .price__table {
            display: block;
        }
        .price__info {
            max-width: 480px;
            padding: 0 24px;
        }
    }
}
