*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes Regular", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
  letter-spacing: 0.2px;
}

.button {
  border: none;
  background: #FF3E79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
}

.header {
  background-color: #fff;
  min-width: 320px;
  padding: 19px 16px;
  border-bottom: 1px solid #D9FFF5;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrapper .header__wrapper-left {
  display: flex;
  align-items: center;
}
.header .header__wrapper .header__wrapper-left .header__burger {
  margin-right: 16px;
}
.header .header__wrapper .header__wrapper-left .header__line-hidden {
  display: none;
}
.header .header__wrapper .header__wrapper-left .header__logo {
  width: 96px;
  height: 50px;
}
.header .header__wrapper .header__line {
  margin-right: 16px;
}
.header .header__wrapper .header__wrapper-right {
  display: flex;
  align-items: center;
}
.header .header__wrapper .header__wrapper-right .wrapper-button__hidden {
  display: none;
}
.header .header__wrapper .header__wrapper-right .button__phone,
.header .header__wrapper .header__wrapper-right .button__message,
.header .header__wrapper .header__wrapper-right .button__lk,
.header .header__wrapper .header__wrapper-right .button__request {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .header .header__wrapper .header__wrapper-left .header__line-hidden {
    display: block;
  }
  .header .header__wrapper .header__wrapper-right .wrapper-button__hidden {
    display: block;
  }
}
@media (min-width: 1120px) {
  .header-hidden {
    display: none;
  }
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("../font/TTLakes/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../font/TTLakes/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Bold";
  src: url("../font/TTLakes/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.services {
  background-color: #F8F8F8;
  padding: 24px 0 35px;
}
.services .services__header {
  margin-bottom: 24px;
}
.services .services__header .wrapper__title {
  display: flex;
  align-items: center;
}
.services .services__header .wrapper__title .services-h1 {
  margin-left: 12px;
  color: #1B1C21;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}
.services .services__header .services__button-hidden {
  display: none;
}
.services .services__wrapper {
  padding: 0 16px;
}
.services .services__wrapper .services__menu {
  overflow: auto;
}
.services .services__wrapper .services__menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.services .services__wrapper .services__menu .services__button {
  border: 2px solid transparent;
  background-color: transparent;
  padding: 8px 21px;
  white-space: nowrap;
  color: #7E7E82;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer;
}
.services .services__wrapper .services__menu .services__button a {
  color: #7E7E82;
  text-decoration: none;
}
.services .services__wrapper .services__menu .services__button-active,
.services .services__wrapper .services__menu .services__button:hover {
  border-radius: 6px;
  background: #FFF;
  border-color: #B8FFEC;
}
.services .services__wrapper .services__menu::-webkit-scrollbar {
  overflow-x: hidden;
}
.services .services__wrapper .services__text {
  margin-top: 0;
  margin-bottom: 16px;
}
.services .services__wrapper .services__text-hidden,
.services .services__wrapper .services__text-hidden-dec {
  display: none;
}
.services .services__wrapper .services__button-read {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
}
.services .services__wrapper .services__button-read span {
  margin-left: 8px;
}
.services .services__wrapper .services__info-right {
  margin-left: -16px;
  margin-right: -16px;
}
.services .services__wrapper .services__info-right .services__img {
  width: 100%;
}

@media (min-width: 768px) {
  .services {
    padding: 24px 0 40px;
  }
  .services .wrapper__title .services-h1 {
    margin-left: 20px;
  }
  .services .services__wrapper {
    padding: 0 24px;
  }
  .services .services__wrapper .services__info {
    display: flex;
    justify-content: space-between;
  }
  .services .services__wrapper .services__info .services__info-left {
    margin-right: 48px;
    width: 50%;
  }
  .services .services__wrapper .services__info .services__info-left .services__text {
    line-height: 20px;
    margin-bottom: 30px;
  }
  .services .services__wrapper .services__info .services__info-left .services__text-hidden {
    display: inline;
  }
  .services .services__wrapper .services__info .services__info-right {
    width: 50%;
  }
  .services .services__wrapper .services__info .services__info-right .services__img {
    width: 100%;
  }
}
@media (min-width: 1120px) {
  .services {
    margin-bottom: 50px;
  }
  .services .services__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
  }
  .services .services__header .services-h1 {
    margin-left: 30px;
  }
  .services .services__header .services__button .button__request,
  .services .services__header .services__button .button__status {
    width: initial;
    margin-left: 32px;
  }
  .services .services__header .services__button .button__request .services__button-wrapper,
  .services .services__header .services__button .button__status .services__button-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .services .services__header .services__button .button__request .services__button-wrapper span,
  .services .services__header .services__button .button__status .services__button-wrapper span {
    margin-right: 9px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  .services .services__header .services__button .button-dc {
    border: none;
    background-color: initial;
  }
  .services .services__header .services__button .button-dc .button-dc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #FF3E79;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .services .services__header .services__button-hidden {
    display: inline-block;
  }
  .services .services__wrapper .services__menu {
    overflow: visible;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .services .services__wrapper .services__info .services__info-left {
    margin-right: 36px;
  }
  .services .services__wrapper .services__info .services__info-left .services__text-hidden-dec {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
